.container {
    margin: auto;
    width: 1000px;
}

.container-fotos img {
    width: 200px;
    min-height: 200px;
    border-radius: 5% 5% 0 0;
}

.container-foto {
    /* float: left; */
    margin: 10px;
    box-shadow: 0px 0px 5px #888888;
    border-radius: 5%;
    display: inline-block;
}

body {
    font-family: 'roboto', sans-serif;
}

.titulo-pagina {
    text-align: center;
    font-weight: 300;
    margin-top: 100px;
    margin-bottom: 100px;
}

.país {
    padding: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}

.formulario {
    margin: 50px;
    text-align: center;
}

input {
    text-align: center;
    font-family: "roboto", sans-serif;
    min-height: 25px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 5px #999999;
    font-size: 10px;
    padding: 0 10 0 10;
}

input[type=submit] {
    cursor: pointer;
    background-color: #655d8a;
    color: #ffff;
}